.allinfocontainer{
    display: grid;
    justify-content: center;
    align-items: center;
}
.allinfo{
    margin-top: 20px;
}
#img{
    width: 100px;
}
#username{
    text-transform: capitalize;
   margin-top: 20px;
}
#gender{
    text-transform: capitalize;

    margin-top: 20px;

}
#gmail{
    margin-top: 20px;

}

#contry{
    text-transform: capitalize;
    margin-top: 20px;

}
#Age{
    margin-top: 20px;
    text-transform: capitalize;
    
}
#usernameId{
    margin-top: 20px;
    text-transform: capitalize;
        
}
@media (max-width:467px) {
    #gmail,
    #usernameId{
        width: 250px;
    }
}